In [1]:
import pandas as pd

In [3]:
df2 = pd.read_csv('./final-movie.csv', index_col=0)
df2.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,...,Directors,Genres,Country,Language,Runtime,re_title,music_director,music_director.1,poster,in_spe
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,...,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,inception,Hans Zimmer,Hans Zimmer,https://www.soundtrack.net/img/movie/30396.jpg,False
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,...,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,the-matrix,Don Davis,Don Davis,https://www.soundtrack.net/img/movie/16705.jpg,False
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,...,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,avengers-infinity-war,Alan Silvestri,Alan Silvestri,https://www.soundtrack.net/img/movie/41685.jpg,False
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,...,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,back-to-the-future,Alan Silvestri,Alan Silvestri,https://www.soundtrack.net/img/movie/1695.jpg,False
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,...,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,the-good-the-bad-and-the-ugly,Ennio Morricone,Ennio Morricone,https://www.soundtrack.net/img/movie/10072.jpg,False

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1354 entries, 0 to 4241
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1354 non-null   int64
 1   Title             1354 non-null   object
 2   Year              1354 non-null   int64
 3   Age               937 non-null    object
 4   IMDb              1349 non-null   float64
 5   Rotten Tomatoes   978 non-null    object
 6   Netflix           1354 non-null   int64
 7   Hulu              1354 non-null   int64
 8   Prime Video       1354 non-null   int64
 9   Disney+           1354 non-null   int64
 10  Type              1354 non-null   int64
 11  Directors         1328 non-null   object
 12  Genres            1354 non-null   object
 13  Country           1352 non-null   object
 14  Language          1340 non-null   object
 15  Runtime           1340 non-null   float64
 16  re_title          1354 non-null   object
 17  music_director    1354 non-null   object
 18  music_director.1  1354 non-null   object
 19  poster            1354 non-null   object
 20  in_spe            1354 non-null   bool
dtypes: bool(1), float64(2), int64(7), object(11)
memory usage: 223.5+ KB

In [5]:
check = df2[['ID', 'Genres']]

In [6]:
check.head()

   ID                            Genres
0   1  Action,Adventure,Sci-Fi,Thriller
1   2                     Action,Sci-Fi
2   3           Action,Adventure,Sci-Fi
3   4           Adventure,Comedy,Sci-Fi
4   5                           Western

In [7]:
check = pd.concat([check, check['Genres'].str.split(',', expand=True)], axis=1)

In [8]:
check

,ID,Genres,0,1,2,3,4,5,6,7
0,1,"Action,Adventure,Sci-Fi,Thriller",Action,Adventure,Sci-Fi,Thriller,None,None,None,None
1,2,"Action,Sci-Fi",Action,Sci-Fi,None,None,None,None,None,None
2,3,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi,None,None,None,None,None
3,4,"Adventure,Comedy,Sci-Fi",Adventure,Comedy,Sci-Fi,None,None,None,None,None
4,5,Western,Western,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
4217,16608,History,History,None,None,None,None,None,None,None
4223,16624,"Documentary,Family",Documentary,Family,None,None,None,None,None,None
4234,16688,"Comedy,Family,Fantasy,Musical",Comedy,Family,Fantasy,Musical,None,None,None,None
4235,16694,Drama,Drama,None,None,None,None,None,None,None
4241,16723,"Documentary,Family",Documentary,Family,None,None,None,None,None,None

In [9]:
check.drop(['Genres'], axis=1, inplace=True)

In [10]:
check.to_csv('genres.csv')